<h1>Editing Group Expense Membership</h1>

<%= render 'form', group_expense_membership: @group_expense_membership %>

<%= link_to 'Show', @group_expense_membership %> |
<%= link_to 'Back', group_expense_memberships_path %>
