/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
body{
	background-color: ivory;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
	background-color: #fff;
}
.hidden{
    display:none;
}
.btn-custom{
    border-radius: 30px;
    float: right;
    background-image: linear-gradient(to bottom right, rgb(10, 155, 58) , rgb(39, 39, 0));
}
.btn-custom:link .btn-custom:visited{
    background-color:#0d6efd;
    color: white;
    border-color: #0d6efd;
    text-align: center; 
    display: inline-block;
}
.nav-link:visited{
    color:black;
}

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 10px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
	color: red;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid black;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
} 
@charset "utf-8";
/* CSS Document */
.container{
	height: 50%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* background-image: 
	url("./Finance.png"); */
}
.bg-white {
	background-color: #FFF;
	margin: 10px 0;
	padding: 5px;
}
.logo {
	font-size: 18px;
	font-weight: bold;
	margin: 22px;
	float: left;
	color: #27D2C1;
	text-shadow: 1px 1px 5px rgba(48, 48, 48, 0.26);
}
.header .ad-block {
	background-color: #F0F0F0;
	width: 60%;
	float: right;
	height: 50px;
	margin: 10px;
}
.left-sidebar .ad-block {
	background-color: #F0F0F0;
	height: 80px;
	margin: 10px 10px 15px 10px;
}
.main-content .ad-block {
	background-color: #F0F0F0;
	height: 80px;
	width: 30%;
	margin: 10px;
}
.right-sidebar .ad-block {
	background-color: #F0F0F0;
	height: 80px;
	margin: 10px 10px 15px 10px;
}
.header {
	height: 80px;
}
.footer, .middle-left, .middle-right, .bottom-left-block, .bottom-middle-block, .bottom-right-block, .bottom-content {
	height: 60px;
}
.left-sidebar, .right-sidebar {
	height: 360px;
}
.main-content  {
	height: 200px;
}
.footer .copyright {
	color: #A5A5A5;
	text-align: center;
	margin: 16px;
}
@media (max-width:767px) {
.header {
	height: auto;
}
.logo {
	margin: 15px;
	float: none;
	text-align: center;
}
.header .ad-block {
	height: 50px;
	width: auto;
	margin: 10px;
	float: none;
}
.footer {
		height: auto;
}
.main-content .ad-block {
	background-color: #F0F0F0;
	height: 80px;
	width: auto;
}
}